body {
	color:#111 !important;
	background: url('../../images/ifixit2011.png') no-repeat center top scroll #8B2718 ;
}
#headerCarousel {
	height: 0 !important;
	display: none;
}
a:link, a:visited {
	color: #8B2718;
}
a:hover {
	text-decoration: none;
}
a.next-panel {
	color: #ccc !important;
}
span.logo {
	background: url('/budget/images/png50x50/ifixit-dark.png') no-repeat center center #fff;
	background-size: 50px 50px;
}
footer a.smoothscroll {
	color: #fff;
}
.page-header h1, .page-header  a  {
	display: none;
}
.container > div.item-wrapper, .onepage .container.item-wrap {
	background: #fff; 
}
div#examples-slides a.carousel-control.left {
	left: 0 !important;
}div#examples-slides a.carousel-control.right {
	right: 0 !important;
}
#emailform input, #emailform textarea {
	border: 1px solid #ccc !important;
}
a.navbar-brand:after {
	content: "IFIXIT" !important;
}
div.social i {
	color: rgba(0,0,0,.3);
}
