body {
	color:#222 !important;
}
p {
	text-align: center !important;
}
#headerCarousel {
	height: 0 !important;
	overflow: hidden;
}
#headerCarousel img {
	opacity: 0;
	filter:alpha(opacity=0);
}
.navbar-inverse {
    background-color: #fff;
    border-color: #eee;
}
.transparent-bg-light {
	background: #F5F5F5;
}
.navbar-inverse .navbar-nav > li > a {
    color: #222 !important;
}
.navbar-inverse .navbar-nav > li.active a {
	background: none !important;
}
.navbar-inverse .navbar-nav > li {
	border-left: 1px solid rgba(255,255,255,.1)
}
span.logo {
	background: url('/budget/images/sta-logo-mini.png') no-repeat center center #fff;
	background-size: 45px 45px;
}
a.navbar-brand {
	color: #b75d63 !important;
}
a.navbar-brand:after {
	content: "Stadsvervoer Amsterdam" !important;
}
a:link, a:visited {
	color: #b75d63;
}
a:hover {
	text-decoration: none;
}
a.next-panel {
	color: #ccc !important;
}
.text-danger {
	color: #9DD198;
}
div.page-header a.smoothscroll {
	color: #ccc !important;
}
footer a.smoothscroll {
	color: #fff;
}
.onepage-header   {
	display: none;
}
.container > .item {
}
.page-header h2 {
	background: none !important;
	color: #555 !important;
}
#panel-1, #panel-0, #panel-5 {
  background: url("../../images/shade-bot.png") no-repeat scroll center bottom !important;
}
div#examples-slides a.carousel-control.left {
	left: 0 !important;
}div#examples-slides a.carousel-control.right {
	right: 0 !important;
}
#emailform input, #emailform textarea {
	border: 1px solid #ccc !important;
}
footer {
	background: #111;
}