body {
	color:#111 !important;
	background: #fff;
}
a:link, a:visited {
	color: #828D9C;
}
a:hover {
	text-decoration: none;
}
.page-header h1, div.blog a.next-panel {
	color: #5D839D;
}
.page-header  a > i {
	color: #3A3F5C;
}
#panel-0 .container.item-wrap {
	background: rgba(255,255,255,.95);
	margin-bottom: 100px;
}
.page-header h2 {
    color: #555 !important;
}
#panel-3 .page-header h2 , #panel-7 .page-header h2  {
    color: #fff !important;
}
.text-warning {
	color: #4D3A5C !important;
}
.text-danger {
	color: #3A485C !important;
}
.text-info {
	color: #3A5C4D !important;
}
a.navbar-brand:after {
	content: "Supper Club" !important;
}
span.logo {
	background: url('/budget/images/png50x50/b.png') no-repeat center center #5D8588;
	background-size: 50px 50px;
}
.navbar-inverse ul.nav > li.active > a, .navbar-inverse .nav > li.active > a:hover, .navbar-inverse .nav > li > .active > a:focus {
    background-color: rgba(255,255,255,.15) !important;
    color: #fff !important;
}
.navbar-inverse {
    background-color: #732A24;
    border-color: #732A24;
}
.navbar-inverse .nav > li > a:link, .nav > li > a:visited, .navbar-inverse a.navbar-brand {
    color: #C2A29F !important;
}
.navbar-inverse .nav > li > a:hover, .navbar-inverse a.navbar-brand:hover {
	color: #fff !important;
}
#panel-0, #panel-4 {
	background: url('/budget/images/bar-restaurant/coffee-90604.jpg') fixed no-repeat center center;
	background-size: cover;
}
#panel-1, #panel-5 {
	background-color:#F8F9FB;
}
#panel-2, #panel-6 {
	background-color:#fff;
}
#panel-3, #panel-7 {
	background-color:#244573;
	color: #fff;
}
.transparent-bg-dark {
    background: none repeat scroll 0 0 rgba(107, 69, 42, .1);
}
.transparent-bg-light {
    background: none repeat scroll 0 0 rgba(36, 69, 115, .03);
}
footer {
	background: #344051;
}
footer a > i {
	color: rgba(255,255,255,.25) ;
}
footer a:hover > i {
	color: rgba(255,255,255,.75) ;
}
.table td, .table th {
	border-color: rgba(0,0,0,.1) !important;
}